body{
    font-family:Arial,'sans-serif';
}

nav{
    width:100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo{
    color:white;
    font-size:28px;
    padding-left:290px;
    line-height: 60px;
    float:left;
    
}
.menu{
    padding-left:300px;
    float:left;
    
}
.menu li{
    float:left;
    color:white;
    margin-right:40px;
    line-height:60px;
}
.main{
    height:100%;
    background: url(../img/guy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/100% ;
}
.title-container{
    text-align: center;
    float: left;
    margin-top:432px;
    margin-left:405px;
}
.title-container h1{
    font-size: 35pt;
    color:#2c384a;
    font-weight: bold;
}
.title-container p{
    margin-top:30px;
    color:#79818d;
    font-size: 11pt;
}
.title-container input{
    border:2px solid #79818d;
    height: 44px;
    text-align: center;
    padding:0px 16px;
    border-radius: 6px;
    background: none;
    margin:14px;
    margin-top:55px;
    color:#79818d;
}
.btn:hover{
    cursor:pointer;
}
.aboutMe{
    box-shadow:0px -10px 8px 0px rgba(50, 50, 50, 0.25);
    background:url(../img/dwnldBtnIcon.png) bottom 68px right 988px no-repeat ,white;
    height: 717px;

}
.aboutMe h2{
    font-size:28px;
    text-transform: uppercase;
    text-decoration:none;
    text-align: center;
    padding-top:105px;
    color:#263244;
    font-weight: bold;
    border-bottom:4px solid #d17700;
    padding-bottom:31px;

}
.aboutMe img{
    margin-left:860px;
    align-content: center;
    margin-top:95px;
    margin-bottom:24px;
}
.aboutMe p{
    display:block;
    margin-bottom:40px;
    text-align: left;
    color:#3f495a;
    max-width: 732px;
    margin-left:600px;

}
.aboutMe input{
    border:2px solid #6f707e;
    margin-left:888px;
    border-radius:6px;
    padding:7px 7px 7px 31px;
    background: none;
    color:#6f707e;
    margin-bottom:100px;
}
.whatICan{
    background: url(../img/bg_whatICan.png);
    height:523px;
}
.whatICan h2{
    color:#263244;
    font-size:28px;
    text-align: center;
    padding-top: 107px;
    font-weight:bold;
    text-transform: uppercase;
    border-bottom:4px solid #d17700;
    padding-bottom:31px;
}
.notebook{
    margin-left:488px;
}
.sign{
    margin-left:228px;
}
.rocket{
    margin-left:250px;
}
.thing{
    margin-left:265px;
}
.whatICan img{
    margin-top:144px;
}
.whatICan li{
    float:left;
    margin-top:30px;
    margin-right:185px;
    color:#cf7600;
    font-weight: bold;
    font-size:13pt;
}
.first{
    padding-left:465px;
}
.whatICan p{
    display:block;
    margin-top:20px;
    max-width:211px;
    float:left;
    text-align: center;
    color:#3f495a;
}
.first_text{
   margin-left:410px; 
}
.secondary_text{
    margin-left:69px;
}
.third_text{
    margin-left:105px;
}
.fourth_text{
    margin-left:95px;
}
.cases{
    background:white;

}
.cases h2{
    color:#263244;
    font-size:28px;
    text-transform: uppercase;
    text-align: center;
    padding-top:110px;
    font-weight: bold;
    border-bottom:4px solid #d17700;
    padding-bottom:31px;
}
.headerForCases{
    margin-top:36px;
    text-align: center;
    margin-bottom:40px;
}
.cases img{
    margin-left:390px;
    margin-bottom:40px;
}
.cases h4{
    margin-left:390px;
    float:left;
    font-size:15pt;
    font-weight: bold;
    text-transform: uppercase;
    color:#384354;
}
.cases h3{
    margin-left:675px;
    color:#384354;
    font-weight: bold;
    font-size:11pt;
    margin-bottom:6px;
}
.projectDesk{
    margin-left:675px;
    max-width:580px;
    color:#384354;
}
.someComp{
    margin:25px 0px 6px 392px;
    color:#3f495a;
}
.someDom{
    margin:30px 0px 6px 392px;
    color:#3f495a;
}
.cases input{
    border-radius:4px;
    padding:15px 42px 15px 42px;
    background: #63b5ae;
    color:white;
    font-size:12pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:390px;
    margin-top:22px;
}
.class1{
    float: left;
}
.costCounting{
    background: white;
    height:auto;
    margin-top:100px;
}
.costCounting h2{
    text-align: center;
    font-size: 28px;
    font-weight:bold;
    color:#1c2534;
    margin-bottom:60px;
}
.costCounting h4{
    text-transform: uppercase;
    margin-top:50px;
    margin-left:499px;
    margin-bottom:20px;
    font-size:15pt;
    font-weight:bold;
    color:#1c2534;
}
.costCounting select{
    background: #eeeeee;
    width:891px;
    height:57px;
    margin-left:494px;
    padding-left:24px;
    font-size:13px;
}
.costCounting div{
    width:891px;
    height:2px;
    background: #d1d1d1;
    margin-top:37px;
    margin-left:494px;
    margin-bottom:23px;
}
.costTo{
    margin-left:498px;
    float: left;
    font-size: 11pt;
    font-weight:bold;
    margin-top:23px;
}
.timeTo{
    margin-left:498px;
    float: left;
    font-size: 11pt;
    font-weight:bold;
    
}
.time{
    float:left;
    margin-left:812px;
    font-size:11pt;
    font-weight:bold;
}
.cost{
    float:left;
    margin-left:778px;
    font-size:11pt;
    font-weight:bold;
    margin-top:23px;
}
.someStatistics{
    margin-top:150px;
    height:500px;
    background:url(../img/bg_someStaticstics.png) no-repeat ;
}
.title{
    text-align: center;
    font-size:28px;
    text-transform: uppercase;
    font-weight:bold;
    padding-top:100px;
    color:#323e4f;
    border-bottom:4px solid #d17700;
    padding-bottom:32px;
}
.someStatistics img{
    margin-top:84px;
}
.firstPic{
    margin-left:495px;
}
.nextPic{
    margin-left:235px;
}
.firstNum{
    font-weight:bold;
    font-size:32px;
    color:#323e4f;
    float:left;
    margin-left:492px;
    margin-top:32px;
}
.nextNum{
    font-weight:bold;
    font-size:32px;
    color:#323e4f;
    float:left;
    margin-left:231px;
    margin-top:32px;
}
.lastNum{
    font-weight:bold;
    font-size:32px;
    color:#323e4f;
    float:left;
    margin-left:255px;
    margin-top:32px;
}
.firstText{
    font-size:20px;
    font-weight: bold;
    color:#323e4f;
    float:left;
    margin-left:400px;
    margin-top:30px;
}
.secondText{
    font-size:20px;
    font-weight: bold;
    color:#323e4f;
    float:left;
    margin-left:120px;
    margin-top:30px;
}
.thirdText{
    font-size:20px;
    font-weight: bold;
    color:#323e4f;
    float:left;
    margin-left:130px;
    margin-top:30px;
}
.fourthText{
    font-size:20px;
    font-weight: bold;
    color:#323e4f;
    float:left;
    margin-left:110px;
    margin-top:30px;
}
.someStatistics ul{
    display: block;
}
.feedback{
    height:592px;
}
.feedback h2{
    text-align: center;
    font-size:28px;
    font-weight: bold;
    padding-top:105px;
    color:#243042;
    border-bottom:4px solid #d17700;
    padding-bottom:34px;
    text-transform: uppercase;
}
.feedback img{
    margin:58px 0px 55px 900px;
}
.feedback p{
    text-align: center;
    color:#243042;
    max-width:688px;
    font-size:12px;
    margin-left:595px;
    margin-bottom:38px;
}
.firstBtn{
    margin-left:915px;
    margin-right:5px;
}
.nextBtn{
    margin-right:5px;
}
.map{
    background: url(../img/map.jpg);
    height:350px;
}
footer{
    height:96px;
    box-shadow: inset 0px -4px 1px 0px #1c2128;
    background: #354051;
}
footer h6{
    color:white;
    line-height: 96px;
    text-align: center;
}
.myContacts{
    background: url(../img/bg_contacts.jpg);
    height:808px;
}
.myContacts h2{
    text-align:center;
    font-size:28px;
    text-transform: uppercase;
    font-weight:bold;
    padding-top:105px;
    color:white;
    border-bottom:4px solid #d17700;
    padding-bottom:32px;
}
.undertext{
    color:white;
    font-size:15px;
    text-align:center;
    margin-top:32px;
}
.geo{
    margin-left:700px;
    margin-top:44px;
}
.mailConvert{
    margin-top:50px;
    margin-left:220px;
}
.phone{
    margin-left:220px;
    margin-top:48px
}
.firstUnderText{
    color:white;
    font-size:15px;
    margin-left:632px;
    margin-top:15px;
    max-width:160px;
    text-align: center;
    float:left;
}
.nextUnderText{
    color:white;
    font-size:15px;
    margin-top:15px;
    margin-left:100px;
    float:left;

}
.lastUnderText{
    color:white;
    font-size:15px;
    margin-left:1151px;
    margin-top:15px
}
.myContacts h3{
    font-size:20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    color:white;
    margin-top: 50px;
}
.send{
    background: none;
    margin-left:897px;
    margin-top:28px;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    padding:10px;
    text-align:center;
}
.name{
    width: 352px;
    height:34px;
    margin-left:575px;
    margin-top:45px;
    padding-left:10px;
    background: rgba(255,255,255,0.88);
}
.mail{
    width:352px;
    height:34px;
    margin-left:29px;
    margin-top:45px;
    padding-left:10px;
    background: rgba(255,255,255,0.88);
}
.message{
    margin-left:575px;
    margin-top:14px;
    padding-left:10px;
    padding-top:10px;
    width:737px;
    height:94px;
    resize: none;
    background: rgba(255,255,255,0.88);
}
.fb{
    margin-top:67px;
    margin-left:753px;
}
.tw{
    margin-top:71px;
    margin-left:51px;
}
.ball{
    margin-top:69px;
    margin-left:51px;
}
.git{
    margin-top:69px;
    margin-left:48px;
}
.insta{
    margin-top:69px;
    margin-left:49px;
}
.linked{
    margin-top:69px;
    margin-left:50px;
}